<h3 style="color:white">Make a mistake? Fix it here!</h3>

<%= render 'shared/errors', obj: @post %>

<div class= "well well-small">
<%= form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br><br>
	<%= f.label :body %>
	<%= f.text_area :body, rows: 5 %>
	<br><br>
	<%= f.label "Associated URL" %>
	<%= f.url_field :url %>
	<br><br>
	<p>Categories (<%= link_to "create your own!", "/categories/new"%>)</p>
	<% @categories.each do |c| %>
		<p><%= check_box_tag 'post[category_ids][]', c.id, @post.categories.include?(c) %>
		<%= c.title %></p>
	<% end %>
	<br><br>
	<%= f.submit class: "btn btn-primary" %>
<% end %>
</div>