<h2 style="color:white">Top Posts:</h2>
<% @posts.each do |post| %>
	<div class = "well well-small">
		<p><h4><%= link_to post.title, ext_url(post.url) %></h4>
			<p><u>Description:</u> <%= post.body %></p>
			<i>Posted by</i> <%= link_to post.user.name, "/users/#{post.user.id}" %> on <%= disp_date(post.created_at) %></p>
		<i><%= link_to "View #{post.comments.count} comments", "/posts/#{post.id}" %></i><br>
		<p style="font-size:10px">Categories: <%post.categories.each do |cat| %>
			<%= cat.title%>;	
		<% end %>
		</p>
	Net votes: <span id="post_<%=post.id%>_votes"%><%= post.net_votes %></span>
	<ul>
		<li><%= link_to "Vote Up", vote_post_path(post, vote: true), method: 'post', remote: true %></li>
		<li><%= link_to "Vote Down", vote_post_path(post, vote: false), method: 'post', remote: true %></li>
	</ul>	
	</div>
<% end %>

